:root {
    --headerHeight: 10vh;
    --algorithmHeaderHeight: 12vh;
    --headerColour: #282c34;
    --backgroundHighlight:#3d434f;
    --codeHighlightColour: #c2c2c2;
}

.pageContainer {
    height: calc(100vh - var(--headerHeight));
    width: 100%;
}

.page {
    color: black;
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: left;
    animation: fade-in forwards 1s ease-in;
}

.starmapContainer {
    height: 100%;
    width: 100%;
    animation: fade-in forwards 1s ease-in;
}

.app-contents {
    display: flex;
    height: calc(100vh - var(--headerHeight));
}

.App {
  /* text-align: center; */
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
