.starmapOverlay .form {
    position: absolute;
    background-color: #343943;
    color: white;
    border-radius: 5px;
    transition: all 0.6s ease-in-out;
    z-index: 10;
    pointer-events: all;
    height: 100%;
}

.outerContents {
    height: 100%;
    flex: 1;
}

.innerContents {
    /* height: calc(100% - 200px); */
    height: 70%;
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: scroll;
}

.fixedContents {
    /* height: 100px; */
    height: 15%;
}

.contextMenuAddTopic {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

.contextMenuAddTopic form {
    height: 100vh;
}

.contextMenuAddTopic .formHeading input {
    appearance: none;
    outline: 0;
    font-size: 2.5em;
    border-width: 0 0 2px;
    width: 100%;
    box-shadow: none;
    border-color: white;
    background-color: transparent;
    color: white;
}

.contextMenuAddTopic .formContents {
    height: 100%;
    overflow-y: scroll;
}

.formContents .inputField input {
    width: 100%;
    font-size: 15px;
    border-radius: 20px;
    background-color: var(--headerColour);
    border-color: var(--headerColour);
    color: white;
}

.contextMenuAddTopic .buttonField {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    border-color: var(--headerColour);
}

.contextMenuAddTopic .buttonField button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
    height: 80px;
    border-radius: 20px;
    background-color: var(--headerColour);
    border-color: var(--headerColour);
    color: white;
    font-size: 16px;
    margin: 20px;
}

.detailsPanel {
    display: flex;
    flex-direction: row;
}
