/* .pointsOfInterest {

}

.pointsOfInterest, table {
    background-color: var(--codeHighlightColour);
    border: 0px;
}

.pointsOfInterest, thead {
    color: white;
    background-color: var(--backgroundHighlight);
} */

.table-container {
    overflow-x: auto;
}

.table-container table {
    width: 70%;
    border-collapse: collapse;
    margin: auto;
    caption-side: top;
    empty-cells: hide;
    table-layout: auto;
}

.table-container th, .table-container td {
    padding: 15px;
    text-align: left;
}

.table-container tr:nth-child(even) {
    background-color: #f2f2f2;
}